<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Compact_Cassette_Catalogue.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Compact_Cassette_Catalogue.My.MySettings>
            <setting name="showMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultDirectory" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="checkUpdates" serializeAs="String">
                <value>startup</value>
            </setting>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value />
            </setting>
        </Compact_Cassette_Catalogue.My.MySettings>
    </userSettings>
</configuration>
